[Unit]
Description=Vertcoin API/UI
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=live
User=root
WorkingDirectory=/home/vertcoin-dashboard/vertcoin-dash-api
ExecStart=/usr/bin/node /home/vertcoin-dashboard/vertcoin-dash-api/server.js
Restart=always
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
